/* =============================================================================
   Site Styles
   ========================================================================== */   
   body {
   	width: 650px;
   	margin: 0px auto;
      background: url(/img/body_bg.png) repeat-x #4b88b8;
   }
   .contenedor {
   	width: 550px;
   	margin: 0 auto;
      background-color: #fff;
      margin-top: 55px;
      box-shadow: 0px 0px 20px #000;
      padding-bottom: 50px;
   }
   #logo_login {
      margin: 17px 0 0 13px;
   }
   #login_form {
      width: 300px;
      margin: 0 auto;
   }
   #login_form h1, #login_form h2 {
      text-align: center;
      color: #007dc3;
   }
   #login_form p {
      text-align: right;
   }
   #login_form label {
    color: #007dc3;  
   }
   #olvide button {
      position: relative;
      left: 234px;
      margin-bottom: 5px;
   }
   #olvide2 button {
      position: relative;
      left: 188px;
      margin-bottom: 5px;  
   }
   #olvide a {
      text-decoration: underline;
   }

/* =============================================================================
   Page Styles
   ========================================================================== */
   

